@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  background-color: #F2F2F2;
  color: #6E728E;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.pricing-main {
  background-image: url(../img/lines.svg);
  background-size: cover;
  padding-top: 71px;
  padding-bottom: 103px;
  display: block;
}

.pricing-heading-top {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 64px;
}

.pricing-price-list {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.pricing-price-professional .pricing-money {
  color: #FFFFFF;
}

.pricing-price-professional p {
  color: #FFFFFF;
}

.pricing-price {
  font-size: 72px;
  text-align: center;
  line-height: 71px;
  letter-spacing: -2.16px;
  color: #4A4D60;
}

.pricing-money {
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -1.2px;
  color: #4A4D60;
}

.pricing {
  display: flex;
  align-items: center;
}

.pricing-list {
  width: 350px;
  padding: 31px;
  background-color: #fff;
  border-radius: 5px;

}

.pricing-heading {
  font-size: 18px;
  line-height: 28px;
}

.pricing-item {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.pricing-item-part {
  /* padding-bottom: 12px; */
  padding-top: 12px;
}

.pricing-item-part::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background-color: #6E728E;
  margin-bottom: 12px;

}

.pricing-item-part:last-child::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background-color: #6E728E;
  margin-bottom: 32px;
  margin-top: 12px;
}

.professional-list {
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-bottom: 55px;
  padding-bottom: 55px;
  background: linear-gradient(135deg, #A2A7F0 0.05%, #696EDD 100.05%);
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  color: #FFFFFF;
}
.pricing-item-part-professional::before {
  background-color: #FFFFFF;
}

.pricing-link {
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.39286px;
  color: #FFFFFF;
  padding: 14px 66px;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  border-radius: 6px;
}

.pricing-link:hover {
  background: #fff;
  color: #6D72DE;
  border: 1px solid #6D72DE;
  box-sizing: border-box;
  border-radius: 6px;
}

.pricing-link-professional {
  background: #fff;
  color: #6D72DE;
}

.pricing-link-professional:hover {
  color: #fff;
  background-color: #6D72DE;
  border: 1px solid #fff;
}